/* AnimXYZ */
@import '@animxyz/core';
@include xyz-all;

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project styling */

@media screen and (min-width: 1000px) {
    form {
        grid-template-rows: auto repeat(3, 1fr);
    }

    form #controls {
        grid-area: 1 / 1 / 1 / 30;
        display: flex;
        flex-direction: row-reverse;
    }

    form #problem {
        grid-area: 2 / 1 / span 2 / 6;
    }

    form #solution {
        grid-area: 2 / 6 / span 1 / 12;
    }

    form #unique-value-proposition {
        grid-area: 2 / 12 / span 2 / 18;
    }

    form #unfair-advantage {
        grid-area: 2 / 18 / span 1 / 24;
    }

    form #customer-segments {
        grid-area: 2 / 24 / span 2 / 30;
    }

    form #key-metrics {
        grid-area: 3 / 6 / span 1 / 12;
    }

    form #channels {
        grid-area: 3 / 18 / span 1 / 24;
    }

    form #cost-structure {
        grid-area: 4 / 1 / span 1 / 15;
    }

    form #revenue-streams {
        grid-area: 4 / 15 / span 1 / 30;
    }
}